body{
   style="width:80%;
   margin:auto"
  }

#contact{
      text-align:right;
  }

#logo{
     float:left;
  }


h1,h2{
    height:10px;
  }

#mainmenu{
    text-align:right;
    background-color:chocolate;
    margin-top:20px;
    padding:10px;
    color:white;
    font-weight:bold;
  }
